@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@300&display=swap');

$defaultPadding : 1% 12.5%;

$defaultColor: #8b3737;

$accentColor : rgba(255, 141, 123, 0.182);

$titleFontDefault: 'Heebo', sans-serif;

$descriptionFontDefault: 'Nunito', sans-serif;

$defaultBoxShadow: rgba(52, 12, 12, 0.27) 2px 5px 9px;