@import "./variables";

// I realised I did a grave mistake when I wanted to try and style the table element for smaller viewports.. Tables are not very customizable... 

.cartTable {
  width: 100%;
}

tr:first-of-type {
  text-transform: uppercase;
  height: 3em;
}

tr:nth-child(even) {
  background: linear-gradient(-0.25turn, $accentColor, #eed9d600);
  clip-path: inset(0 round .5em);
}
th:first-of-type {
  width: 60%;
}

.cartTableNumber {
  padding-left: 10px;
}

.cartInfoLeft {
  display: flex;
  flex-direction: row;
  &:last-child {
    align-items: center;
  }
  .cartTableGeInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
}

.cartTableImg {
  height: 150px;
  width: 150px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: .5em;
}

.cartItemButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: .2em;
}
.cartQuantity {
  min-width: 10px;
  margin: 0 .5em;
}

.cartCheckoutFinal {
  margin-top: 1em;
  padding-top: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;

  border-top: 2px solid rgb(172, 151, 151);
}

.cartCheckoutRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartSum {
  width: 100%;
}

.cartTotalSum {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 150px;      
  margin-right: 1em;
}
    
.cartSumItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .5em;
}

.cartTotalPrices {
  font-weight: bold;
}

.priceOutline {
  background-color: rgba(255, 141, 123, 0.182);
  padding: 2px;
  border-radius: .6em;
  padding: 0 .5em;
}

.cartDiscountedPrice {
  display: flex;
  flex-direction: row;
}

.saleIcon {
  position: relative;
  border-radius: .2em;
  padding: 0 .4em;

  font-size: .7em;
  font-weight: bold;
}

@media screen and (min-width:767px) and (max-width: 1023px) {


  
  }

  @media screen and (max-width: 767px) {
    .cartTableImg {
      width: auto;
    }

    // .cartItemButtons {
    //   flex-direction: row;
    // }
    
    tr {
      max-width: fit-content;
      
    }
  }