.cartTable {
  width: 100%;
}

tr:first-of-type {
  text-transform: uppercase;
  height: 3em;
}

tr:nth-child(even) {
  background: linear-gradient(-0.25turn, #eed9d66d, #eed9d600);
  clip-path: inset(0 round .5em);
}

// tr:hover {
//   background-color: rgba(233, 129, 214, 0.227);
//   clip-path: inset(0 round .5em);
// }
th:first-of-type {
  width: 60%;
}

.cartTableNumber {
  padding-left: 10px;
}

.cartInfoLeft {
  display: flex;
  flex-direction: row;
  &:last-child {
    align-items: center;
  }
  .cartTableGeInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
}

.cartTableImg {
  height: 150px;
  width: 150px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: .5em;
}

.cartItemButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: .2em;
}
.cartQuantity {
  min-width: 10px;
  margin: 0 .5em;
}

.cartCheckoutFinal {
  margin-top: 1em;
  padding-top: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;

  border-top: 2px solid rgb(172, 151, 151);
}

.cartCheckoutRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cartSum {
  font-weight: bold;
  margin-right: .5em;
}

.cartTotalSum {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
  :nth-child(2) {
    margin-right: .5em;
  }
  // :last-child {
  //   font-size: 1.2em;
  // }
}

.cartTotalPrices {
  font-weight: bold;
}