.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

// .contactInfo {
   // max-width: 50%;
// }

.contactForm {
  margin-top: 2em;
  min-width: 50%;
}

// .label {
//   position: relative;
//   top: 30px;
// }

// input:focus+.label {
//   top: -30px;
// }

.error {
  color: red;
}