// .container {
//   height: 100%;
// }

.loadingDetails {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3em;

  i {
    font-size: 4em;
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.productDetailsPage {
  display: flex;
  min-height: 100%;

  .detailsWrapper {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    
    .productDetails {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
    }

    .itemTag {
      display: flex;
      flex-direction: row;
      flex: 0;
      width: 100;
    }
    .tag {
      margin-left: .5em;
      padding: .2em;
      background-color: rgb(200 182 192);
      color: white;
      border-radius: .5em;
    }
    .subInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .secondDetails {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

}
.productImage img {
  height: 500px;
  width: 560px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: rgba(52, 12, 12, 0.27) 2px 5px 9px;

  border-radius: 1em;
}
// .reviewsWrapper {
//   background-color: white;
//   margin-top: 1em;
// }
.reviewComponent {
  background-color: rgb(252, 245, 249);
  padding: .5em;
  margin-top: 1em;
  border-radius: .5em;
  width: 100%;
  // box-shadow: ;

  .reviewerInfo {
    width: 100%;
    border-bottom: 2px solid rgb(198, 198, 198);
    display: flex;
    height: 53px;
    justify-content: space-between;
    align-items: baseline;
  }

  .fa-star {
    animation: rotate 10s 2s infinite linear;
    color: rgb(241, 181, 103);
  }

  .reviewDesc {
    display: flex;
    flex-direction: row;

    .review {
      flex: 1;
    }
    .thumbs {
      display: flex;
      flex: 0;
      flex-direction: row;

      .fa-thumbs-down {
        padding-right: 1em;
        &:hover {
          font-size: 1em;
        }
      }
      
      .fa-thumbs-up:hover {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width:767px) and (max-width: 1023px) {
  .productDetailsPage {
    flex-direction: column;
  }

  
  
}
@media screen and (max-width: 767px) {

  .productImage img {
    width: 100%!important;
  }

  .productDetailsPage {
    flex-direction: column;
  }
}