@import "./variables";

.loadingDetails {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3em;

  i {
    font-size: 4em;
    animation: rotate 1s infinite linear;
  }
}

// Loading Animation

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.productDetailsPage {
  display: flex;
  min-height: 100%;

  .detailsWrapper {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    
    .productDetails {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
    }

    .pageHeader  {
      display: flex;
      flex-direction: row;
      font-size: 2em;
      align-items: center;
      justify-content: space-between;

      & .fa-star, span {
        margin: 0;
        font-size: 1em;
      }
    }

    .detailsHeaderTitle {
      font-family: $titleFontDefault;
    }

    
    .subInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .discountPersentage {
    margin-left: .5em;
    background-color: $accentColor;
    padding: .2em;
    border-radius: .5em;
    text-transform: uppercase;
  }
  .itemButtons {
    display: flex;
    // flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.itemDescription {
  display: flex;
  flex-wrap: wrap;
  font-family: $descriptionFontDefault;
}

.productImage img {
  height: 500px;
  width: 560px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: $defaultBoxShadow;

  border-radius: 1em;
}

.price {
  font-size: 2.4em;
}

// Review Component Styling

.reviewComponent {
  background-color: rgb(250, 250, 250);
  padding: .5em;
  margin-top: 1em;
  border-radius: .5em;
  width: 100%;
  box-shadow: $defaultBoxShadow;

  .reviewUsername {
    font-family: $titleFontDefault;
  }

  .reviewerInfo {
    width: 100%;
    border-bottom: 2px solid rgb(198, 198, 198);
    display: flex;
    height: 53px;
    justify-content: space-between;
    align-items: baseline;
  }

  .fa-star {
    animation: rotate 10s 2s infinite linear;
  }

  .reviewDesc {
    display: flex;
    flex-direction: row;

    .review {
      flex: 1;
      font-family: $descriptionFontDefault;
    }
    .thumbs {
      display: flex;
      flex: 0;
      flex-direction: row;
      height: 4em;

      .fa-thumbs-down {
        padding-right: 1em;
        &:hover {
          padding-top: .3em;
          cursor: pointer;
          color: red;
        }
      }
      
      .fa-thumbs-up:hover {
        margin-top: .5em;
        cursor: pointer;
        color: #93d355;
      }
    }
  }
}

.itemTag {
  display: flex;
  flex-direction: row;
  flex: 0;
  width: 100;
}
.tag {
  margin-left: .5em;
  padding: .2em;
  background-color: $accentColor;
  border-radius: .5em;
}

.tags {
  margin-top: 1em;
  text-transform: uppercase;
}

@media screen and (min-width:767px) and (max-width: 1023px) {
  .productDetailsPage {
    flex-direction: column;
  }
  
}
@media screen and (max-width: 767px) {

  .productImage img {
    width: 100%;
    max-height: 250px;
  }
  .pageHeader {
    margin-top: .5em;
    font-size: 2.5em;
  }

  .productDetailsPage {
    flex-direction: column;
  }
}