@import "./variables";

.project {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

// body styling
.body {
  flex: 1;
  margin-bottom: 2em;
}

//Header Styling
header {
  display: flex;
}

// Footer styling
footer {
  // display: flex;
  // position: fixed;
  // bottom: 0;
  margin-top: 2em;
  flex: 0 1 60px;
  background-color: rgb(255, 244, 252);
  
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1% 10%;
}

.footerRow {
  width: 100%;
  justify-content: space-between;
  flex: 1;
}

.footerItem {
  width: 100%;
}


.footerItems {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
  li {
    color: rgb(197, 141, 116);
    title {
      color: rgb(197, 141, 116);
    }
  }
}